<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Command line suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1778e">  <td>16/08/30 12:15:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.Start()[pri:0, instance:com.tata.scripts.TC001_Login@35cabb2a]">&gt;&gt;Start</td> 
<td>&nbsp;</td>  <td>main@860481979</td>   <td></td> </tr>
<tr bgcolor="7473ab">  <td>16/08/30 12:15:37</td>   <td>16968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_Login.TC001_Login()[pri:0, instance:com.tata.scripts.TC001_Login@35cabb2a]">TC001_Login</td> 
  <td>main@860481979</td>   <td></td> </tr>
<tr bgcolor="a1778e">  <td>16/08/30 12:15:37</td>   <td>16970</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.quit()[pri:0, instance:com.tata.scripts.TC001_Login@35cabb2a]">&lt;&lt;quit</td> 
<td>&nbsp;</td>  <td>main@860481979</td>   <td></td> </tr>
</table>
