<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test-method Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93ce8c">  <td>15/06/21 08:25:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.run1()[pri:0, instance:com.freecharge.scripts.test@47f6473]">run1</td> 
  <td>pool-1-thread-1@807871507</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>15/06/21 08:25:51</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="test.run2()[pri:0, instance:com.freecharge.scripts.test@47f6473]">run2</td> 
  <td>pool-1-thread-2@1331186112</td>   <td></td> </tr>
</table>
